table {
    border-collapse: collapse; 
    border: 1px solid black; 
    align-self: center; 
  }
  th, td {
    border: 1px solid black;  
    padding: 8px;             
  }

  tfoot{
    border-collapse: collapse;
  }

  div{
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }

 